VITE_SUPABASE_URL=https://enfwgoiuxjyahwbddzbp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuZndnb2l1eGp5YWh3YmRkemJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMzA4NTYsImV4cCI6MjA5NDkwNjg1Nn0.slCdP6YiTCVJQ-VqmM2Y3Fqm4dpfz77qdb_95hZ9jfg
